@font-face {
    font-family: 'Nintendo Switch UI';
    src: url('../assets/fonts/NintendoSwitchUI.eot');
    src: url('../assets/fonts/NintendoSwitchUI.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/NintendoSwitchUI.woff2') format('woff2'),
    url('../assets/fonts/NintendoSwitchUI.woff') format('woff'),
    url('../assets/fonts/NintendoSwitchUI.ttf') format('truetype'),
    url('../assets/fonts/NintendoSwitchUI.svg#NintendoSwitchUI') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
body {
    position: relative;
    background-color: #2d2d2d;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Nintendo Switch UI", serif;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
::-webkit-scrollbar-track {
    top: 50px;
    border-radius: 10px;
    background-color: #1e1e1e;
}
::-webkit-scrollbar-thumb {
    background: #18bdff;
    border-radius: 10px;
    -webkit-box-shadow: rgba(0,0,0,.12) 0 3px 13px 1px;
}
